:root {
  --default-short-input-width: 50px;

  --bg-darkness3: #333;
  --bg-darkness2: #282828;
  --bg-darkness1: #202020;
  --bg-darkness0: #000;

  --bg-blueish: #156466;

  --fg-normal: #fff;
}

#dark-mode {
  --bg-darkness3: #333;
  --bg-darkness2: #282828;
  --bg-darkness1: #202020;
  --bg-darkness0: #000;

  --bg-blueish: #0A3233;

  --fg-normal: #fff;
}

/* Important necessary for overwriting bootstrap elements */
* {
  background-color: var(--bg-darkness3);
  color: var(--fg-normal);
  border: none;
  border-color: var(--bg-darkness0);
}

html {
  background-color: var(--bg-darkness3);
}
 
/* Tag Selectors */
div {
  border-radius: 25px;
  background-color: var(--bg-darkness3);
}

#page-caesar-vigenere div {
  background-color: var(--bg-darkness2);
}

#page-text-to-numbers div {
  background-color: var(--bg-darkness2);
}

.nav-link {
  border: none !important;
}

nav {
  background-color: var(--bg-darkness1) !important;
  border-radius: 0;
}

nav * {
  background-color: var(--bg-darkness1) !important;
  border-radius: 0;
}

nav .active {
  background-color: var(--bg-darkness3) !important;
}

nav .nav {
  background-color: var(--bg-blueish) !important;
}

body {
  background-color: var(--bg-darkness3);
}

label {
    border: none !important;
    background-color: var(--bg-darkness2) !important;
}

span {
    background-color: var(--bg-darkness2);
}

button,
input,
select {
  background-color: var(--bg-darkness1);
  border-color: var(--bg-darkness0);
  border-radius: 1000px;
  margin: 0 5px;
  width: 170px;
}

textarea {
    background-color: var(--background-color) !important;
    color: #fff;
    border: none !important;
}


/* Class Selectors */
.tool_panel {
  padding: 12px 5px 5px;
  border-radius: 20px;
  /* background-color: lightblue; */
  background-color: var(--bg-darkness2) !important;
  width: 90%;
  margin: auto;
}

.tool_panel div, .tool_panel label {
  background-color: var(--bg-darkness2) !important;
}

.short-input {
  width: var(--default-short-input-width);
}

.mid-sized-input {
  max-width: 150px;
}

.light {
  font-size: 70%;
}

/* Specifications to classes */
div.center {
  border: 2px solid darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav_home {
    text-align: center;
    margin-top: 10%;
    background-color: var(--bg-darkness1);
}



/* More specific to this very website */

div.inputbox {
  width: 90%;
  /* border: 2px solid #0f0; */
  border: none;
  margin: 3% 5% 3%;
  padding: 20px;
}

div.outputbox {
  width: 90%;
  height: fit-content;
  min-height: 35px;
  /* border: 2px solid #0f0; */
  border: none;
  margin: 3% 5% 3%;
}

.output {
  text-align: center;
  width: 100%;
  height: fit-content;
  white-space: auto;
}

.translate-btn {
  text-align: center;
}


