span {
    background-color: var(--bg-darkness2);
}

.highlight_kw {
    color: yellow;
    text-shadow: 0 0 5px yellow;
}
.highlight_num {
    color: blue;
    text-shadow: 0 0 5px blue;
}

.highlight_string {
    text-shadow: 1px 1px red;
}


#syntax-highlighter_editor, #syntax-highlighter_bg-div {
  margin: 10px;
  padding: 10px;
  border: 0;
  width: calc(100% - 32px);
  height: 150px;
}

#syntax-highlighter_editor, #syn_highlighting, #syn_highlighting * {
/*   /1* Also add text styles to highlighting tokens *1/ */
/*   font-size: 15pt; */
/*   font-family: monospace; */
/*   line-height: 20pt; */
/* } */

/* #syn_editor, #syn_highlighting { */
/*   position: absolute; */
/*   top: 0; */
/*   left: 10%; */
/* } */

/* /1* z-coordinate so that the editor and highlighting tokens are on top of each other *1/ */
/* #syn_editor { */
/*   z-index: 1; */
/*   color: transparent !important; */
/*   background: transparent !important; */
/*   caret-color: white; */
/* } */

/* #syn_highlighting { */
/*   z-index: 0; */
/* } */

/* #syntax-highlighter_text-input{ */
/*     width: 90%; */
/*     height: 500px; */
/*     background-color: var(--bg-darkness1) !important; */
/* } */

