* {
    --editor-width: 90vw;
    --editor-height: 20vh;
}

span {
    background-color: var(--bg-darkness2);
}

.highlight_kw {
    color: yellow;
    text-shadow: 0 0 5px yellow;
}
.highlight_num {
    color: lightblue;
    text-shadow: 0 0 5px lightblue;
}

.highlight_str {
    text-shadow: 1px 1px red;
}


/* Synchronize editor and highlighting div */
#syntax-highlighter_editor, #syntax-highlighter_bg-div {
  margin: 10px;
  padding: 10px;
  border: 0;

  position: absolute;
  height: 150px;
  width: var(--editor-width);
  left: calc(50vw - var(--editor-width)/2);
  top: calc(50vh - var(--editor-height)/2);
}

/* They must have the same font as well */
#syntax-highlighter_editor, #syntax-highlighter_bg-div, #syntax-highlighter_bg-div * {
  font-size: 15pt;
  font-family: monospace;
  line-height: 20pt;
}

/* Make the editor transparent except the caret */
#syntax-highlighter_editor {
  z-index: 1;
  color: transparent !important;
  background: transparent !important;
  caret-color: white;
}

/* Put the background div behind the editor */
#syntax-highlighter_bg-div {
  z-index: 0;
  background-color: var(--bg-darkness2);
}

#syntax-highlighter_specifications-container {
    position: absolute;
    top: calc(50vh + var(--editor-height)/2 + 10px);
    width: var(--editor-width);
    left: calc(50vw - var(--editor-width)/2);
}

#syntax-highlighter_specifications-container div {
    background-color: var(--bg-darkness3);
}

input[type=color] {
    max-width: 100px;
    background-color: var(--bg-darkness3);
    border-radius: 0;
}

.outline {
    border: 1px solid var(--bg-darkness1);
}

div.title {
    font-weight: bold !important;
    font-size: 1.1em !important;
    text-align: center !important;
    background-color: var(--bg-darkness1) !important;
}



