span {
    background-color: var(--bg-darkness2);
}

.highlight_kw {
    color: yellow;
    text-shadow: 0 0 5px yellow;
}
.highlight_num {
    color: blue;
    text-shadow: 0 0 5px blue;
}

.highlight_string {
    text-shadow: 1px 1px red;
}


/* Synchronize editor and highlighting div */
#syntax-highlighter_editor, #syntax-highlighter_bg-div {
  margin: 10px;
  padding: 10px;
  border: 0;
  width: calc(100% - 32px);
  height: 150px;
}

#syntax-highlighter_editor, #syntax-highlighter_bg-div, #syntax-highlighter_bg-div * {
  font-size: 15pt;
  font-family: monospace;
  line-height: 20pt;
}

#syntax-highlighter_editor, #syntax-highlighter_bg-div {
    position: absolute;
    --editor-width: 90%;
    width: var(--editor-width);
    left: calc(50% - var(--editor-width)/2);
    top: calc(50% - 150px);
}

#syntax-highlighter_editor {
  z-index: 1;
  color: transparent !important;
  background: transparent !important;
  caret-color: white;
}

#syntax-highlighter_bg-div {
  z-index: 0;
  background-color: var(--bg-darkness2);
}

/* #syntax-highlighter_text-input{ */
    /* width: 90%; */
    /* height: 500px; */
    /* background-color: var(--bg-darkness1) !important; */
/* } */

