:root {
  --default-short-input-width: 50px;
}

div {
  border-radius: 25px;
}

button,
input,
select {
  border-radius: 1000px;
  margin: 0 5px;
  width: 170px;
}

.tool_panel {
  padding: 12px 5px 5px;
  border-radius: 20px;
  background-color: lightblue;
  width: 90%;
  margin: auto;
}

.short-input {
  width: var(--default-short-input-width);
}

.mid-sized-input {
  max-width: 150px;
}

.light {
  font-size: 70%;
}

div.center {
  border: 2px solid darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inputbox {
  width: 90%;
  border: 2px solid #0f0;
  margin: 3% 5% 3%;
  padding: 20px;
}

#outputbox {
  width: 90%;
  height: fit-content;
  min-height: 35px;
  border: 2px solid #0f0;
  margin: 3% 5% 3%;
}

#output {
  position: absolute;
  text-align: center;
  width: 100%;
  height: fit-content;
  white-space: auto;
}

#translate-btn {
  text-align: center;
}

#more-settings {
  text-align: right;
}

#more-settings input[type="checkbox"] {
  width: var(--default-short-input-width);
}
 

nav {
  justify-content: center;
  background-color: aliceblue;
}