
<div class="center inputbox"></textarea>
  <div class="form-floating">

    <!-- Nice textarea from bootstrap -->
    <textarea id="source-input" title="Enter the source text/code here" style="height:100px;border-radius:15px;" cols="1000" class="form-control"></textarea>
    <label for="source-input">Source Text</label>

  </div>
</div>

<div class="tool_panel row align-items-start justify-content-evenly">

  <!-- Mode Input -->
  <div class="col-4">
    <label for="cv-mode-select" style="margin-right: 2px">Mode:</label>
    <select name="cv-mode-select" id="cv-mode-select" class="mid-sized-input">
      <option value="caesar" selected="selected">Caesar</option>
      <option value="vigenere">Vigenère</option>
    </select>
  </div>

  <!-- 'Translate' Button -->
  <button class="col-2 translate-btn">Encode</button>

  <!-- Key -->
  <div class="col-4" style="text-align: center">
    <!-- Caesar Key -->
    <label for="caesar_key_input" class="key-input short-input">Key </label>
    <input type="number" id="caesar_key_input">

    <!-- Vigenere Key -->
    <label for="vigenere_key_input" class="key-input short-input">Key </label>
    <input type="text" id="vigenere_key_input">
  </div>
</div>

<!-- Output -->
<div title="Text entered in the above <Source Field> will be displayed here after clicking on <Encode>" class="center outputbox">
  <span class="output"></span>
</div>

<link rel="stylesheet" href="style/caesar_vigenere.css">
<script src="scripts/caesar_vigenere.js"></script>
